<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pizza porteña</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <h1>Pizza porteña</h1>
    <img src="../img/pizza_portena.webp" width="500" height="250" alt="Pizza Porteña">
    <p>Una receta sencilla y deliciosa para disfrutar en familia.</p>
    <hr>
    <h2>Ingredientes</h2>
    <ul>
        <li>300 gramos de harina 000</li>
        <li>15 gramos de levadura seca</li>
        <li>1 cucharada sopera de aceite</li>
        <li>180 centímetros cúbicos de agua</li>
        <li>120 gramos de mozzarella</li>
        <li>½ taza de puré de tomate</li>
        <li>1 cucharada postre de orégano</li>
        <li>1 cucharada postre de tomillo</li>
        <li>1 cucharada postre de pimentón dulce</li>
    </ul>
    <hr>
    <h2>Pasos</h2>
    <ol type="I">
        <li> Para empezar con la preparación de la pizza porteña, pon la harina sobre la mesa limpia, haz una corona y, en el centro, dispón el agua tibia, la levadura y el aceite. Puedes usar aceite común o de oliva, así como levadura seca o fresca, en cuyo caso, necesitarás 3 veces más su peso, es decir, 15 gramos.</li>
        <li> Integra los ingredientes amasando desde el centro hacia afuera. Amasa por unos 5 minutos o hasta obtener una masa lisa. Tápala y déjala reposar tapada por unos 60 minutos, o hasta que duplique su volumen. Pasado ese tiempo, estírala en una asadera o pizzera, con ayuda de los dedos, hasta alcanzar el borde, haciéndolos un poco más altos que el resto de la pizza. Tápala y déjala leudar nuevamente.</li>
        <li> Mientras esperas el segundo leudado de la masa, prepara la salsa para pizza porteña. Así, mezcla las especias en el puré de tomate. En este caso combinamos tomillo con pimentón dulce, pero puedes agregar provenzal, ají molido, laurel o bien hacer un tuco simple. En esta receta te enseñamos</li>
        <li> Pasados unos 30 minutos del segundo leudado, pinta la base de la pizza porteña con el puré de tomate condimentado. Cocínala en el horno precalentado a temperatura máxima, 200-220ºC, por unos 15 minutos, hasta que haga piso y el borde cambie de color a uno más dorado y no tan blanco.</li>
        <li> Una vez que la pizza porteña tiene piso, agrega el queso y llévala nuevamente al horno. Esta vez, puedes disponerla en las rejillas intermedias o altas de tu horno.</li>
        <li> Sirve la pizza porteña argentina decorándola con orégano. Si lo deseas, también puedes agregar aceitunas. ¡A comer! Cuéntanos si la pruebas y comparte la fotografía del resultado final.</li>
    </ol>

    <hr>
    <h2>Con que acompañar la pizza porteña</h2>
    <p>Más allá de los ingredientes clásicos usados en esta receta, puedes agregar debajo del queso unas fetas de jamón, así como decorar con unas tiras de morrón asado. Si prefieres, puedes coronar con cebolla para hacer una fugazzeta o jamón crudo y rucula. Para los más osados, la opción definitiva es agregar jamón y rodajas de ananá sobre el queso para caramerizarlas con ayuda de un soplete y disfrutar del delicioso contraste de sabores.</p>
    <hr>
    <h2 class="t2">Video</h2>
    <iframe width="500" height="250" src="https://www.youtube.com/embed/MjmjAi_eqgc" title="Hacé la auténtica PIZZA PORTEÑA en tu casa (Pizza al molde)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <hr>
    <p><a href="https://www.recetasgratis.net/receta-de-pizza-portena-77529.html" target="_blank">Ver receta en portal externo</a></p>
    <p><a href="./receta2.html">Ver receta 2: Flan Casero</a></p>
    <p><a href="../../index.html">Volver al inicio</a></p>
</body>
</html>
